[Unit]
Description=ACIT3640 demo app
After=network.target

[Service]
User=acit3640
Group=users
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:8000 app:app
Restart=always


[Install]
WantedBy=multi-user.target
